<div class="container-fluid mx-0">
  <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
    <%= @user.name %>さんとのチャット
  </h1>
  
  <div class="row">
    <div class="message col-10 col-xl-8 mx-auto">
      <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
          <div class="row flex-row-reverse align-items-center mb-2">
            <div>
              <%= image_tag current_user.get_profile_image(30, 30), class: "rounded-circle" %><br>
              <p class="mb-0" style="font-size: 10px;"><%= current_user.name %></p>
            </div>
            <p class="mb-0 mr-2"><%= chat.message %></p>
          </div>
        <% else %>
        <div class="row align-items-center mb-2">
          <div>
            <%= image_tag @user.get_profile_image(30, 30), class: "rounded-circle" %><br>
            <p class="mb-0" style="font-size: 10px;"><%= @user.name %></p>
          </div>
          <p class="text-left mb-0 ml-2"><%= chat.message %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="errors">
    <%= render "layouts/errors", obj: @chat %>
  </div>

  <%= form_with model: @chat, data: {remote: true} do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
  <% end %>
</div>